# fly.toml app configuration file generated for passeljs on 2023-07-25T13:50:53-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "passeljs"
primary_region = "ewr"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[build]
  builder = "heroku/builder:22"

[env]
  PORT = "8080"

[[mounts]]
  source = "data"
  destination = "/data"
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
